/* src/styles/Footer.css */
.footer {
    background-color: #111827; /* Fond sombre */
    color: white;
    padding: 2rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 1rem;
    color: #d1d1d1;
  }
  
  .social-links {
    margin-top: 1rem;
  }
  
  .social-links a {
    color: #ff1c8e;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #ff5b00;
  }
  
  .social-links i {
    margin-right: 8px;
  }
  
  /* Responsive design : ajuster pour mobile */
  @media (max-width: 768px) {
    .social-links a {
      font-size: 1.2rem;
    }
  }
  